body {
    font-family: 'Questrial', sans-serif;
    font-size: 16px;
    background: #FEF0FF;
    color: #7E6BC4;
}

.block {
    margin: 100px;
    display: grid;
    border: 1px solid #7E6BC4;
    border-radius: 20px;
    padding: 12px 24px;
}

.sensor {
    display: flex;
    margin-top: 20px;
}

.title {
    padding: 12px;
    width: 20%;

}

.content {
    padding: 12px;
}